* {
    box-sizing: border-box;
}

body, html, main {
    height: 100%;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    background-color: black;
    font-family: 'Lato', sans-serif;
    color: white;
}

.hero-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/b&w-landscape-web-friendly.jpg);
    height: 25%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  header {
      font-size: 0px;
  }

nav {
    display: inline-block;
    width: 100%;
}

/*.desk-men {
    display: none;
}*/

ul {
    margin: 0px;
}

#links li/*, .hanBaoBao*/ {
    margin: 12px 20px 5px 5px;
    position: relative;
    list-style-type: none;
    padding: 0;
    float: right;
}

  .git-link, .fa-envelope, .fa-linkedin {
      margin-left: 20px;
      /* float: right; */
      margin-bottom: 8px;
      margin-top: 0px;
  }

  .git-link:hover {
      background-color: rgb(222, 41, 16);
      opacity: 0.6;
      border: rgb(222, 41, 16);
  }

  .fa-envelope:hover {
    color: rgb(222, 41, 16);
    opacity: 0.6;
}

.fa-linkedin:hover {
    color: rgb(222, 41, 16);
    opacity: 0.6;
}

  .git-link {
      width: 20px;
      height: 20px;
      background-color: white;
      border-radius: 50%;
      border: solid 0.4px white;
  }

  .fa-envelope {
      font-size: 20px;
      color: white;
  }

  .fa-linkedin {
      font-size: 20px;
      color: white;
  }

  .hanBaoBao {
      font-size: 20px;
      /* float: left; */
      color: white;
  }

  .alt-menu a:not(:first-child) {display: none;}
  .alt-menu a.icon {
    float: left;   
    display: block;
  }

  .alt-menu.responsive {position: relative;}
  .alt-menu.responsive a.icon {
    position: relative;
    /* right: 0; */
    /* top: 0; */
  }

  .alt-menu.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .alt-menu a {
    float: left;
    display: block;
    color: white;
    background-color: black;
    /* border: 1px solid white; */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
  }

  .proLink, .aboutLink {
      border: 1px solid white;
  }

  .hanBaoBao:hover {
    color: rgb(222, 41, 16);
    border: none;
  }  

  .menLin {
      display: none;
  }

  .bio {
      text-align: center;
      max-width: 1200px;
      width: 100%;
      z-index: 2;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      font-size: 16px;
  }
  
  .hanyu-mingzi {
    font-size: 50px;
    transform: rotate(-5deg)
               skew(-20deg);
    position: fixed;
    writing-mode: vertical-rl;
    margin-top: 20px;
    color: rgb(222, 41, 16);
    opacity: 0.2;    
    z-index: 1;
    right: 40px;
    bottom: 0;
    margin-right: 20px;
  }

  .han {
    font-family: 'Zhi Mang Xing', cursive;
  }

  .proTy {
      font-size: 30px;
      text-align: center;
      font-weight: bold;
  }

  .secImg {
      width: 100%;
      min-width: 45px;
      min-height: 30px;
      z-index: 2;
      margin-left: auto;
      margin-right: auto;
  }

  .proH {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    text-decoration: underline;
  }

  .secPar {
      font-size: 16px;
      text-align: center;
  }

  .secLin {
      text-align: center;
  }

  .secTag {
    color: white;
    font-size: 16px;
  }

  .about-m {
      font-size: 20px;
  }

  .about-p {
      font-size: 16px;
  }

  .all-about {
      margin-top: 50px;
      text-align: center;
  }

  .menu-boxes {
      display: none;
      list-style-type: none;
  }

/*desktop*/
@media screen and (min-width: 1200px) {
    main {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .alt-menu {
        display: none;
    }
    
    .hero-img {
        height: 50%;
        padding: 250px;
    }

    .hero-text {
        font-size: 35px;
    }

    .bio {
        font-size: 35px;
        width: 80%;
    }

    .fa-envelope, .fa-linkedin, .hanBaoBao {
        font-size: 40px;
    }

    .menLin {
        display: inline-block;
        color: white;
        font-size: 35px;
        text-decoration: none;
    }

    .menLin:hover {
        color: rgb(222, 41, 16);
        opacity: 0.6;
    }

    .git-link {
        width: 40px;
        height: 40px;
    }


    .hanyu-mingzi {
        font-size: 150px;
    }

    .hanBaoBao {
        display: none;
    }

    .proTy {
        font-size: 35px;
        text-align: center;
        font-weight: bold;
    }
  
    .secImg {
        width: 100%;
        width: 25%;
        height: 60%;
        z-index: 2;
        left: 25%;
        display: block;
    }
  
    .proH {
      text-align: center;
      font-size: 25px;
      font-weight: 400;
      text-decoration: underline;
    }
  
    .secPar {
        font-size: 20px;
        text-align: center;
    }
  
    .secLin {
        text-align: center;
    }
  
    .secTag {
      color: white;
      font-size: 20px;
    }
  
    .about {
        font-size: 25px;
    }
  
    .about-p {
        font-size: 20px;
    }
  
    .all-about {
        margin-top: 20px;
        text-align: center;
    }
  
}

/*tablet*/
@media only screen and (min-width: 600px) and (max-width: 1199px) {
    main {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    /*.desk-men {
        display: none;
    }*/

    .fa-envelope, .fa-linkedin, .hanBaoBao {
        font-size: 30px;
    }

    .git-link {
        width: 30px;
        height: 30px;
    }

    .hero-img {
        height: 35%;
        width: 100%;
    }

    .hero-text {
        font-size: 25px;
    }

    .bio {
        font-size: 25px;
        width: 75%;
    }

    .hanyu-mingzi {
        font-size: 120px;
        right: 25px;
    }

    .secImg {
        width: 100%;
        height: 60%;
        width: 68%;
        z-index: 2;
        padding-left:35%;
    }

    .secPar {
        font-size: 20px;
        text-align: center;
    }

    
}

